<nav class="navbar navbar-default">
    <div class="container-fluid">
    <ul class="nav navbar-nav">
         <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/Products/AddProductForm">Add Product</a></li>
            <li><a href="/Products/GetAllProducts">List</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
@RenderBody()
<!-- <fonter class="footer">imie i nazwisko autora</fonter> -->