@using web1
@model web1.Models.Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper AuthoringTagHelpers.TagHelpers.EmailTagHelper, AuthoringTagHelpers

@{
    Layout="_Layout";
        
           
       List<SelectListItem>listTemp2=(List<SelectListItem>)ViewData["supplier"];
       List<SelectListItem>listTemp3=(List<SelectListItem>)ViewData["category"];

    }
     <form asp-controller="Products" asp-action="AddProduct" >
           </br>
           
             <input asp-for="ProductName"class="form-control"id="a" style="width:450px; margin:20px; margin-left: auto; margin-right: auto;"  type="text" placeholder="Product name"/>
          
           <select asp-for="SupplierID" asp-items="listTemp2" class="form-control" style="width:450px; margin:20px; text-align: center;margin-left: auto; margin-right: auto;"> <option hidden >Company name</option></select>
               <select  asp-for="CategoryID" asp-items="listTemp3" class="form-control"style="width:450px; margin:20px; text-align: center;margin-left: auto; margin-right: auto;"> <option hidden>Category Name</option></select> 
            
         UnitPrice:  <input  asp-for="UnitPrice" type="number"/></br>
        
        <input  asp-for="Discontinued" type="number"/></br>
                
                
               <input type="submit"/>   
               
       
    </form>
